* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #212121;
    min-height: 100vh;
}

.create-btn {
    background: linear-gradient(#9418fd, #571094);
    padding: 15px 30px;
    color: #fff;
    border: 2px solid white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 15px;
    margin: 100px;
}

.new-div {
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background-color: #fff;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 10px 100px;
    /* margin: 20px 0; */
    outline: none;
    border-radius: 5px;
}

.new-div img {
    width: 20px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

.allnotes {
    display: flex;
    flex-direction: column
}

input {
    border: none;
    width: 100%;
    padding: 5px 10px;
    overflow: auto;
    word-wrap: break-word;
    /* height: 100px; */
}